<div class="grid-container">
    <mat-grid-list cols="4" rowHeight="200px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <app-summary [growth]="familyGrowth"></app-summary>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="2" *ngFor="let insight of memberInsights">
            <app-insights [insight]="insight" (checkDetails)="onCheckDetails($event)">
            </app-insights>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="2" *ngFor="let insight of investmentInsights">
            <app-insights [insight]="insight" (checkDetails)="onCheckDetails($event)">
            </app-insights>
        </mat-grid-tile>

    </mat-grid-list>
</div>