<div class="row">
    <div class="col-xs-12" *ngIf="!growth">
        <p>Loading...</p>
    </div>
    <div class="col-xs-12" *ngIf="growth">
        <h4>Net Worth:- {{ growth.getCurrentAmount() }}</h4>
        <ul>
            <li>Amount Invested:- {{ growth.getInvestmentAmount() }}</li>
            <li>Absolute Returns:- {{ growth.getAbsoluteReturns() }} ({{ growth.getAbsoluteReturnsPercentage() }}%)</li>
            <li>XIRR:- {{ growth.getRateOfReturn() }}%</li>
        </ul>
        <p>Last updated on {{ growth.getLastUpdated() }}</p>
    </div>
</div>