<div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-6">
        <main class="form-signin">
            <form>          
              <div class="form-floating">
                <input type="text" class="form-control" id="loginId" placeholder="Login Id" #loginId>
                <label for="loginId">Login Id</label>
              </div>
          
              <div class="checkbox mb-3">
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="button" (click)="onSignIn()">Sign in</button>
              <button class="w-100 btn btn-lg btn-secondary" type="button" (click)="onCreateFamily()">Create</button>
            </form>
          </main>
    </div>
</div>