<div class="row">
    <div class="col-xs-12">
        <p class="h4">{{ investment.getTitle() }}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="no_bullet">
            <li>Asset Type: {{ investment.getAssetType() }}</li>
            <li>Asset Class: {{ investment.getAssetClass() }}</li>
            <li>Liquidity: {{ investment.getLiquidity() }}</li>
            <li>Goal Term: {{ investment.getGoalTerm() }}</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="col-xs-12">
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>Invested Amount</mat-label>
                        <input matInput type="number" placeholder="0" formControlName="investedAmount">
                        <span matPrefix>
                            <mat-icon>currency_rupee</mat-icon>
                        </span>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>Current Amount</mat-label>
                        <input matInput type="number" placeholder="0" formControlName="currentAmount">
                        <span matPrefix>
                            <mat-icon>currency_rupee</mat-icon>
                        </span>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" mat-raised-button color="primary"
                        [disabled]="!this.editForm.valid">Update</button>
                </div>
            </div>

        </form>
    </div>
</div>